@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: purple;
}


.nav-div{
  border: 1px solid #000;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 8px;
}

.nav-div button{
  margin-left: 70px;
  background-color: purple;
  color: #fff;
  border-radius: 7px;
}

input{
  padding: 10px;
  outline: none;
  margin-left:10px ;
}

.container{
  display: flex;
  flex-wrap: wrap;
  /* display:none; */
}