@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
}

input{
    display: block;
    position: relative;
    top: 50%;
    padding: 10px;
    margin: 10px;
    width: 90%;
}

.from{
    border: 1px solid black;
    width: 30%;
    height:75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: blanchedalmond;
    border: none;
    display: none;
    padding: 10px;
}

#add,.fa-xmark{
    cursor: pointer;
}

.from input:nth-child(1){
    margin-top: 40px;
}

.from button{
    display: block;
    width: 90%;
    margin-left: 10px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 10px;
}

.from textarea{
    margin-left: 10px;
    margin-bottom: 10px;
}

.from i{
    display: flex;
    justify-content: right;
    margin-right: 10px;
    margin-top: 10px;
}

